body {
  background:#fafafa;
}

header {
  background: white;
  border-bottom:1px solid  #e6e6e6;
}
header h1 {
  font-size:24px;
  padding:10px 0 6px 0;
}

#page {
  padding-top:90px;
}

.img-container {
  margin-bottom: 30px;
}
